$table-width: 768px;
$desktop-width: 1024px;
$desctop-content-width: 1440px;
$white: #ffffff;
$black: #000000;
$black-normal: #131314;
$grey-light: #c9ccd4;
$black-light: #1c1c1c;
$green: #0ad9c6;
$grey: #48494d;
$grey-secial: #f6f6f6;
$black-special: #1f1f1f;
